<div id="sign_up">
  New here?
  <%= link_to "Create an account", new_user_registration_path %>
</div>

<h1 class="hidden"><a href="http://www.swccgonline.com">SWCCG Online</a></h1>

<div id="sun"></div>
<div id="planet"></div>
<img src="/images/logo_big.png" alt="SWCCG Online" id="logo" />

<div id="login">

  <div class="errors" id="login_errors">
    <ul>
      <li><%= flash[:alert] %></li>
    <ul>
  </div>

  <div class="notice">
    <p><%= flash[:notice] %></p>
  </div>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <%= f.label 'email' %>
    <%= f.text_field :email, :class => 'text', :id => "user_email" %>

    <%= f.label 'password' %>
    <%= f.password_field :password, :class => 'text', :id => "user_password" %>

    <%= f.label 'submit' %>
    <%= f.submit 'Sign in', :class => 'button' %>

    <!-- Uncomment this if you want this functionality
    <p><%= label_tag 'remember_me', 'Remember me' %>
    <%= check_box_tag 'remember_me', '1', @remember_me %></p>
    -->
  <% end %>
</div>


