<!DOCTYPE html>
<html>
<head>
  <title>SWCCG Online | Login</title>
  <link rel="icon" type="image/png" href="/images/favicon.png" />
  <%= stylesheet_link_tag "stylesheet" %>
  <%= javascript_include_tag :defaults, "jquery.textbox-hinter.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body class ="<%= params[:controller].gsub('/',' ') %>">

<div id="content">
  <%= yield %>
</div>

</body>
</html>
